/* Reset defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body font */
body {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header */
.top-header { 
  width: 100%;
  display: flex;
  justify-content: space-between; /* left, center, right */
  align-items: center;
  background-color: white;
  z-index: 1000;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);

  height: 5vw;
  position: fixed;
  /*border-bottom:   2px solid  rgb(218, 241, 246);*/
}


.left-header {
  display: flex;          /* arrange children horizontally */
  align-items: center;    /* vertically center the image and text */
  gap: 10px;              /* space between image and text */
  padding-left: 5px;
}


.left-header h1 {
  font-family: 'Irish Grover', cursive;
  font-size: 2.8vw;
  color: #83c0c7
}

.left-header a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}

.right-header {
  display: flex;          /* arrange children horizontally */
  align-items: center;    /* vertically center the image and text */
  gap: 10px;              /* space between image and text */
}


.right-header a.signinbtn {
  float: right;
  background-color: #83c0c7;
  padding: 7px 10px;
  color: white;
  text-decoration: none;
  font-size: 1.15vw;
  border-radius: 10px;
}

.right-header a.registerbtn {
  float: right;
  background-color: #788789;
  padding: 7px 10px;
  color: white;
  text-decoration: none;
  font-size: 1.15vw;
  margin-right: 10px;
  border-radius: 10px;

}

.right-header a.righttablink{
  text-decoration: none;
  color: #788789;
  padding: 10px 8px;
  border-radius: 10px;
  font-size: 1.15vw;
}

.right-header a:hover {
  background-color: #ddd;
  color: black;
}



/* Layout */
.content {
  display: flex;
  height: 150vh;
}

/* side bars*/

.side-left, .side-right {
    background-color: white;
    width: 15%;
    z-index: 100;
}

.side-left {
    box-shadow: 2px 0 4px -2px rgba(0,0,0,0.3);
    position: fixed;
    height: 100%;
    top: 5vw; 
    background-color: white;
   /* border-right: 2px solid rgb(218, 241, 246);*/
  }

.side-right{
   /*box-shadow: -2px 0 4px -2px rgba(0,0,0,0.3);*/

}  

.side-left h1 {
    padding-top: 30px;
    padding-left: 20px;
    border-bottom: 2px dashed #e4edee;
    padding-bottom: 15px;
    margin-bottom: 1px; 
    font-size: 1.3vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(87, 85, 85);
    font-weight: normal;

  }

.side-left a.level {
    display: block;
    text-decoration: none;
    color: black;
    padding: 12px 25px;
    box-sizing: border-box; 
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.3vw;
    transition: background-color 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 7px;
    border-radius: 10px;
}



.side-left a:hover {
    background-color: #ddd;
}


  .side-left h2 {
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 2px solid rgb(203, 198, 198);
    padding-bottom: 15px;
    margin-top: -20px;
    margin-bottom: 1px; 
    font-size: 1.3vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(87, 85, 85);
    font-weight: normal;
  }

.side-left a.arrow{
  text-decoration: none;
  color: rgb(103, 100, 100);
  padding: 4px 16px;
  box-sizing: border-box; 
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 0px;
  transition: background-color 0.3s;
  border-radius: 10px;
}

/* Main column */

main {
  flex: 1;
  margin-top: 5%;
  margin-left: 15%;
  margin-right:0%;
  margin-bottom: 0%;
  background: rgb(251, 240, 177);

}

/* board picture*/
.index-container {
  width: 100%; 
  
}
  

.index-container img {
  width: 100%;
  height: auto;           
  display: block;
  
}


.textOnBoard {
  position: absolute;
  top: 23vw;
  left: 45vw;
  transform: translate(-40%, -50%);
  color: white;
  font-family: 'Love Ya Like A Sister', cursive;
  z-index: 100;   /* make sure it’s on top of the image */
  text-align: center;
}

.textOnBoard h1 {
 font-size: 4.5vw;
 font-weight: lighter;
 margin-bottom: 0px;
 white-space: nowrap;
}

.textOnBoard h3 {
 font-size: 2.3vw;
 font-weight: lighter;
 margin-left: 4vw; 
}

/*cat picture*/


.cat-container {
  top: 50vb;
  position: absolute;
  z-index: 100;         /* above board image */
}

.cat-container img {
  width: 25vw;         /* adjust size of Pusheen */
  height: auto;
}
/* cat picture addition page*/
.addition-cat {
  position: absolute;   /* relativt main */
  bottom: -10px;
  left: -60px;
  z-index: 100;
}

.addition-cat img {
  width: 300px;   /* lagom storlek */
  height: auto;
}

/* input for the questions */
  .input-container {
  margin-top: 80px;              /* pushes below navbar */
  display: flex;
  justify-content: center;       /* center horizontally */
}

/* Responsive: stack on small screens */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    height: auto;
  }
  
}

@media (max-width: 768px) {
  .textOnBoard h1 {
    font-size: 6vw;
  }
  .textOnBoard h3 {
    font-size: 4vw;
  }
}
/* White info box in the middle of the front page */
.white-section {
  background-color: #ffffff;   
  
  max-width: 92%;          
  margin: 3.5% auto;          
  padding: 35px;            
  font-family: 'Poppins', sans-serif;
  height: 55vh;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);

}

.white-section h2 {
  margin-bottom: 15px;   
  color: #d38b4b;
  font-size: 20px;
}
.white-section p {
  font-size: 14px;         
  color: #333;
}

/* Search box on the front page */
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 4px 10px;
  max-width: 250px;
  margin: 40px auto;
}
.search-box input[type="search"] {
  border: none;         
  outline: none;      
  font-size: 16px;
  background: transparent; 
}
.search-icon {
  margin-right: 8px;
  font-size: 20px;
  color: #222;
}



/*level buttons with checkmark in it*/

.level-link a{
   
   text-decoration: none;
    color: black;
    border-radius: 10px;
    width: 100%;
}


.level-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 25px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: background-color 0.3s;
}

.level-link:hover {
  background-color: #ddd; 
}

.level-link input[type="checkbox"] {
  margin-left: 10px; 
}

/*Top box foor different topics */
.topic-top-box{
  background-color: white;
  padding: 20px;
  margin: 20px;
  height: 11%;
  justify-content: center;
  border-radius: 10px;
}

.topic-top-box h2{ 
  color: #d38b4b;
  font-size: 3vw;
}
.topic-top-box p{ 
  color: black;
  font-size: 1.3vw;
}

/*video on addition pa*/

.video {
  width: 80%;           
  aspect-ratio: 16 / 9; 
  margin: 0 auto;    
}

.video iframe {
  width: 100%;
  height: 100%;
}

.explanation-box{
   
   background-color: white;
   padding: 20px;
   margin: 20px;
   height: 45%;
   border-radius: 10px;
}


.explanation-box{
  background-color: white;
  padding: 20px;
  margin: 20px;
  height: 35%;
  justify-content: center;
}

.explanation-box p{ 
  color: black;
  font-size: 1.3vw;
}






