/* Add a black background color to the top navigation */

html{
 background-color: rgb(225, 216, 168);
}

.topnav {
  background-color: white;
  position: fixed;
  top: 0;               /* align to the top */
  left: 0;              /* start from the left edge */
  width: 100%;
  overflow: hidden; 
  /*display: flex;
  align-items: center;*/
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #4ea25f;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;  
}



/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav a.split {
  float: right;
  background-color: #528bed;
  color: rgb(233, 228, 228);
  margin: 0 10px; 

}

.topnav a.Help {
  float: right;
  background-color: #35d72a;
  color: rgb(233, 228, 228);

}



