/* Add a black background color to the top navigation */

html{
 background-color: rgb(225, 216, 168);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between; /* left, center, right */
  align-items: center;
  background-color: white;
  /*z-index: 1000;*/
  /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
}
.topnav {
  display: flex;          /* arrange children horizontally */
  align-items: center;    /* vertically center the image and text */
  gap: 10px;              /* space between image and text */
}

.topnavright {
  display: flex;          /* arrange children horizontally */
  align-items: center;    /* vertically center the image and text */
  gap: 10px;              /* space between image and text */
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnavright a.signinbtn {
  float: right;
  background-color: #83c0c7;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.topnavright a.registerbtn {
  float: right;
  background-color: #788789;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-right: 10px
}




